<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Your Resource</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/element-index.js"></script>
    <link rel="stylesheet" href="css/element-index.css">
    <style>
        html, body, #app {
            height: 100%;
            margin: 10px;
        }

        .app-container {
            margin: 20px;
        }

        .el-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .el-header, .el-footer {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 60px;
            height: 120px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            margin-top: 20px;
            padding: 30px;
            flex: 1;
            position: relative;
        }

        .el-row {
            margin-bottom: 20px;
        }

        .el-row:last-child {
            margin-bottom: 0;
        }

        .el-col {
            border-radius: 4px;
        }

        .custom-button {
            width: 80%;
            height: 40px;
            margin: 10px 0;
            font-size: 16px;
            font-family: Arial, sans-serif;
            color: #ffffff;
            font-weight: bold;
        }

        .form-container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
    </style>

</head>



<body>
<div id="app">
    <el-row :gutter="20">
        <el-col :span="6">
            <el-button type="warning" class="custom-button" @click="viewResources">View Resources</el-button>
        </el-col>
        <el-col :span="6">
            <el-button type="warning" class="custom-button" @click="bookaResource">Book a Resource</el-button>
        </el-col>
        <el-col :span="6">
            <el-button type="warning" class="custom-button" @click="cancelBooking">Cancel Booking</el-button>
        </el-col>
        <el-col :span="6">
            <el-input placeholder="Search" v-model="searchQuery" @input="handleSearch"></el-input>
        </el-col>
    </el-row>

    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="180px" class="demo-ruleForm">
        <el-form-item label="First Name" prop="firstName">
            <el-input v-model="ruleForm.firstName"></el-input>
        </el-form-item>
        <el-form-item label="Last Name" prop="lastName">
            <el-input v-model="ruleForm.lastName"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email">
            <el-input v-model="ruleForm.email"></el-input>
        </el-form-item>
        <el-form-item label="Location" prop="location">
            <el-select v-model="ruleForm.location" placeholder="Please select location">
                <el-option label="Cardiff Room 1" value="Cardiff Room 1"></el-option>
                <el-option label="Cardiff Room 2" value="Cardiff Room 2"></el-option>
                <el-option label="Newport Room 1" value="Newport Room 1"></el-option>
                <el-option label="Newport Room 2" value="Newport Room 2"></el-option>
                <el-option label="Swansea Room 1" value="Swansea Room 1"></el-option>
                <el-option label="Swansea Room 2" value="Swansea Room 2"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="Book resource between" prop="daterange">
            <el-date-picker
                    v-model="ruleForm.daterange"
                    type="datetimerange"
                    range-separator="to"
                    start-placeholder="Start date"
                    end-placeholder="End date"
                    :disabled-date="disabledDate"
                    style="width: 100%;">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="AV Requirements" prop="av">
            <el-checkbox-group v-model="ruleForm.av">
                <el-checkbox label="No, thanks." name="No thanks"></el-checkbox>
                <el-checkbox label="Microphone" name="Microphones"></el-checkbox>
                <el-checkbox label="DVD/PC" name="DVD/PC"></el-checkbox>
                <el-checkbox label="Speaker" name="Speakers"></el-checkbox>
                <el-checkbox label="Projector" name="Projector"></el-checkbox>
                <el-checkbox label="Technical support" name="Technical support"></el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <!-- Add a warning prompt and set closable to false -->
        <el-alert
                title="Basic equipments we already have: one SCREEN, multi DESKS, multi CHAIRS."
                type="warning"
                :closable="false">
        </el-alert>
        <el-form-item label="Payment method" prop="payment">
            <el-radio-group v-model="ruleForm.payment">
                <el-radio label="Paypal"></el-radio>
                <el-radio label="Applepay"></el-radio>
                <el-radio label="Credit card"></el-radio>
                <el-radio label="Debit card"></el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="Message">
            <el-input type="textarea" v-model="ruleForm.message"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">Create Now</el-button>
            <el-button @click="resetForm('ruleForm')">Reset</el-button>
        </el-form-item>
    </el-form>
</div>




<script>
    new Vue({
        el: '#app',
        data() {
            return {
                searchQuery: '',
                ruleForm: {
                    firstName: '',
                    lastName: '',
                    email: '',
                    location: '',
                    daterange: [],
                    av: [],
                    payment: '',
                    message: ''
                },
                rules: {
                    firstName: [
                        { required: true, message: 'Please enter your first name', trigger: 'blur' },
                        { min: 3, max: 50, message: 'The length is 3 to 50 characters', trigger: 'blur' }
                    ],
                    lastName: [
                        { required: true, message: 'Please enter your last name', trigger: 'blur' },
                        { min: 3, max: 50, message: 'The length is 3 to 50 characters', trigger: 'blur' }
                    ],
                    email: [
                        { required: true, message: 'Please enter your email address', trigger: 'blur' },
                        { type: 'email', message: 'Please enter the correct email address', trigger: 'blur' }
                    ],
                    location: [
                        { required: true, message: 'Please select the location', trigger: 'change' }
                    ],
                    daterange: [
                        { required: true, message: 'Please select the date range', trigger: 'change' },
                        { validator: this.validateDateRange, trigger: 'change' }
                    ],
                    av: [
                        { type: 'array', required: true, message: 'Please select at least one AV requirement', trigger: 'change' }
                    ],
                    payment: [
                        { required: true, message: 'Please select a payment method', trigger: 'change' }
                    ],
                    message: [
                        { required: false }
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                console.log(this.ruleForm);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        const formData = {
                            ...this.ruleForm,
                        };
                        formData.startDate = this.ruleForm.daterange[0];
                        formData.endDate = this.ruleForm.daterange[1];
                        console.log(formData);
                        axios.post('/booking/add', formData)
                            .then(response => {
                                console.log(response);
                                if (response.status === 200) {
                                    this.$message({
                                        message: 'Resource booked successfully',
                                        type: 'success'
                                    });
                                }
                            })
                            .catch(error => {
                                console.log(error);
                                this.$message({
                                    message: 'Resource booking failed',
                                    type: 'error'
                                });
                            });
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            viewResources() {
                window.location.href = 'viewresources.html';
            },
            bookaResource() {
                window.location.href = 'bookresource.html';
            },
            cancelBooking() {
                window.location.href = 'cancel.html';
            },
            handleSearch() {
                // 实现搜索功能
                console.log(this.searchQuery);
            },
            disabledDate(time) {
                return time.getTime() < Date.now() - 86400000;
            },
            validateDateRange(rule, value, callback) {
                const [start, end] = value;
                if (new Date(start).getTime() < Date.now() - 86400000) {
                    callback(new Error('This date is not optional'));
                } else if (new Date(end).getTime() < new Date(start).getTime()) {
                    callback(new Error('The start time cannot be after the end time'));
                } else {
                    callback();
                }
            }
        }
    });
</script>










</body>
</html>