<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Your Resource</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/element-index.js"></script>
    <link rel="stylesheet" href="css/element-index.css">
    <style>
        html, body, #app {
            height: 100%;
            margin: 10px;
        }

        .app-container {
            margin: 20px;
        }

        .el-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .el-header, .el-footer {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 60px;
            height: 120px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            margin-top: 20px;
            padding: 30px;
            flex: 1;
            position: relative;
        }

        .el-row {
            margin-bottom: 20px;
        }

        .el-row:last-child {
            margin-bottom: 0;
        }

        .el-col {
            border-radius: 4px;
        }

        .custom-button {
            width: 80%;
            height: 40px;
            margin: 10px 0;
            font-size: 16px;
            font-family: Arial, sans-serif;
            color: #ffffff;
            font-weight: bold;
        }

        .form-container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
    </style>

</head>



<body>
<div id="app" class="app-container">
    <el-container>
        <el-header>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-button type="warning" class="custom-button" @click="viewResources">View Resources</el-button>
                </el-col>
                <el-col :span="6">
                    <el-button type="warning" class="custom-button" @click="bookaResource">Book a Resource</el-button>
                </el-col>
                <el-col :span="6">
                    <el-button type="warning" class="custom-button" @click="cancelBooking">Cancel Booking</el-button>
                </el-col>
                <el-col :span="6">
                    <el-input placeholder="Search" v-model="searchQuery" @input="handleSearch"></el-input>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <el-row>
                <el-col :span="24">
                    <div class="form-container">
                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                            <el-form-item label="First Name" prop="firstName">
                                <el-input v-model="ruleForm.firstName"></el-input>
                            </el-form-item>
                            <el-form-item label="Last Name" prop="lastName">
                                <el-input v-model="ruleForm.lastName"></el-input>
                            </el-form-item>
                            <el-form-item label="Email" prop="email">
                                <el-input v-model="ruleForm.email"></el-input>
                            </el-form-item>
                            <el-form-item label="Location" prop="region">
                                <el-select v-model="ruleForm.region" placeholder="Please select location">
                                    <el-option label="Cardiff Room 1" value="shanghai"></el-option>
                                    <el-option label="Cardiff Room 2" value="beijing"></el-option>
                                    <el-option label="Newport Room 1" value="beijing"></el-option>
                                    <el-option label="Newport Room 2" value="beijing"></el-option>
                                    <el-option label="Swansea Room 1" value="beijing"></el-option>
                                    <el-option label="Swansea Room 2" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="Book resource between" required>
                                <el-col :span="10">
                                    <el-form-item prop="date1">
                                        <el-date-picker type="date" placeholder="Select start date" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="10">
                                    <el-form-item prop="time1">
                                        <el-time-picker placeholder="Select start time" v-model="ruleForm.time1" style="width: 100%;"></el-time-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col class="line" :span="2">-</el-col>
                                <el-col :span="10">
                                    <el-form-item prop="date2">
                                        <el-date-picker type="date" placeholder="Select end date" v-model="ruleForm.date2" style="width: 100%;"></el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="10">
                                    <el-form-item prop="time2">
                                        <el-time-picker placeholder="Select end time" v-model="ruleForm.time2" style="width: 100%;"></el-time-picker>
                                    </el-form-item>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="AV Requirements" prop="type">
                                <el-checkbox-group v-model="ruleForm.type">
                                    <el-checkbox label="Microphones" name="type"></el-checkbox>
                                    <el-checkbox label="Still water" name="type"></el-checkbox>
                                    <el-checkbox label="Speakers" name="type"></el-checkbox>
                                    <el-checkbox label="Live streaming" name="type"></el-checkbox>
                                    <el-checkbox label="Technical support" name="type"></el-checkbox>
                                    <el-checkbox label="No, thanks." name="type"></el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item label="Payment method" prop="resource">
                                <el-radio-group v-model="ruleForm.resource">
                                    <el-radio label="Paypal"></el-radio>
                                    <el-radio label="Applepay"></el-radio>
                                    <el-radio label="Credit card"></el-radio>
                                    <el-radio label="Debit card"></el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="Message">
                                <el-input type="textarea" v-model="ruleForm.desc"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('ruleForm')">Create Now</el-button>
                                <el-button @click="resetForm('ruleForm')">Reset</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-col>
            </el-row>
            <!-- add other function here -->
        </el-main>
    </el-container>
</div>



<script>
    new Vue({
        el: '#app',
        data() {
            return {
                ruleForm: {
                    firstName: '',
                    lastName: '',
                    email: '',
                    region: '',
                    date1: '',
                    time1: '',
                    date2: '',
                    time2: '',
                    type: [],
                    resource: '',
                    desc: ''
                },
                rules: {
                    firstName: [
                        { required: true, message: '请输入名字', trigger: 'blur' },
                        { min: 3, max: 50, message: '长度在 3 到 50 个字符', trigger: 'blur' }
                    ],
                    lastName: [
                        { required: true, message: '请输入姓氏', trigger: 'blur' },
                        { min: 3, max: 50, message: '长度在 3 到 50 个字符', trigger: 'blur' }
                    ],
                    email: [
                        { required: true, message: '请输入邮箱地址', trigger: 'blur' },
                        { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur' }
                    ],
                    region: [
                        { required: true, message: '请选择活动区域', trigger: 'change' }
                    ],
                    date1: [
                        { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
                    ],
                    time1: [
                        { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
                    ],
                    date2: [
                        { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
                    ],
                    time2: [
                        { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
                    ],
                    type: [
                        { type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change' }
                    ],
                    resource: [
                        { required: true, message: '请选择活动资源', trigger: 'change' }
                    ],
                    desc: [
                        { required: false }
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            viewResources() {
                // Redirect to the view resources page
                window.location.href = 'viewresources.html';
            },
            bookaResource() {
                // Redirect to the book a resource page
                window.location.href = 'bookresource.html';
            },
            cancelBooking() {
                // Redirect to the cancel booking page
                window.location.href = 'cancel.html';
            }
        }
    });
</script>






</body>
</html>