<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/create-eventstyle.css" />
    <script src="js/vue.js"></script>
    <script src="js/create-event.js"></script>
    <script src="js/element-index.js"></script>
    <script src="js/axios.min.js"></script>
    <title>Create Event Page</title>
</head>
<body>
<div id="event">
    <div class="title">
        <el-col :span="24" style="padding-bottom: 20px">
            <div class="grid-content caption">CREATE EVENT</div>
        </el-col>
    </div>
    <el-row class="input-field">
        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Event Name</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <div class="grid-content input">
                    <el-input v-model="formData.title" placeholder="event name"></el-input>
                </div>
            </div></el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Date</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <div class="block">
                    <el-date-picker
                            v-model="formData.date"
                            type="date"
                            placeholder="Choose Date">
                    </el-date-picker>
                </div>
            </div></el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Time</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-time-select
                        class="el-time-select"
                        placeholder="startTime"
                        v-model="formData.startTime"
                        :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '23:30'
                        }">
                </el-time-select>
                <el-time-select
                        class="el-time-select"
                        placeholder="endTime"
                        v-model="formData.endTime"
                        :picker-options="{
                              start: '08:30',
                              step: '00:15',
                              end: '23:30',
                              minTime: formData.startTime
                            }">
                </el-time-select>
            </div></el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Room</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-select v-model="formData.room" clearable placeholder="please select">
                    <el-option
                            v-for="item in room"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </div></el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Event Type</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-select v-model="formData.type" clearable placeholder="please select">
                    <el-option
                            v-for="item in type"
                            :key="item.value"
                            :label="item.label"
                            :value="item.label">
                    </el-option>
                </el-select>
            </div></el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Speaker</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <div class="grid-content input">
                    <el-input v-model="formData.speaker" placeholder="speaker"></el-input>
                </div>
            </div></el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Location</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <div class="grid-content input">
                    <el-input v-model="formData.site" placeholder="location"></el-input>
                </div>
            </div></el-col>
        </el-row>

        <!-- Form fields for catering -->
        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Catering Type</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-select v-model="formData.cateringType" clearable placeholder="Select Catering Type">
                    <el-option label="Cold Finger Buffet" value="Cold Finger Buffet"></el-option>
                    <el-option label="Sandwich Buffet" value="Sandwich Buffet"></el-option>
                    <el-option label="Grazeboards" value="Grazeboards"></el-option>
                    <el-option label="Breakfast Catering" value="Breakfast Catering"></el-option>
                </el-select>
            </div></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Catering Count</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-input v-model="formData.cateringCount" placeholder="Number of People"></el-input>
            </div></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Beverage Type</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-select v-model="formData.beverageType" clearable placeholder="Select Beverage Type">
                    <el-option label="Soft Drinks" value="Soft Drinks"></el-option>
                    <el-option label="Juices" value="Juices"></el-option>
                    <el-option label="Tea and Coffee" value="Tea and Coffee"></el-option>
                    <el-option label="Alcoholic Beverages" value="Alcoholic Beverages"></el-option>
                    <el-option label="Non-Alcoholic Beverages" value="Non-Alcoholic Beverages"></el-option>
                </el-select>
            </div></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Dietary Requirements</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-input v-model="formData.dietaryRequirements" placeholder="Specify Dietary Requirements"></el-input>
            </div></el-col>
        </el-row>
        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content information">Catering Serving Time</div></el-col>
            <el-col :span="8" :offset="1"><div class="grid-content">
                <el-time-select
                        v-model="formData.cateringServingTime"
                        placeholder="Select Serving Time"
                        :picker-options="{
                        start: '08:00',
                        step: '00:15',
                        end: '23:00'
                    }">
                </el-time-select>
            </div></el-col>
        </el-row>
    </el-row>

    <div class="form">
        <el-row :gutter="20">
            <el-col :span="4" :offset="6"><div class="grid-content operations">Operations:</div></el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="6"><div class="grid-content"></div></el-col>

            <el-table :data="formData.tableData" border style="width: 55%;">
                <el-table-column prop="tag" label="Tag" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.tag" placeholder="Tag" class="table"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="responsible" label="Responsible" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.responsible" placeholder="Responsible" class="table"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="staff" label="Support Staff" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.staff" placeholder="Support Staff" class="table"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="company" label="Company" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.company" placeholder="Company" class="table"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="contact" label="Contact" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.contact" placeholder="Contact" class="table"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="email" label="Contact Email" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.email" placeholder="Contact Email" class="table"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="notes" label="AV Notes" width="180">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.note" placeholder="AV Notes" class="table"></el-input>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
    </div>

    <div class="button">
        <el-button type="success" round @click="handleButtonClick">Create Event</el-button>
    </div>
</div>
</body>

<script>
    new Vue({
        el: '#event',
        data() {
            return {
                formData: {
                    title: '',
                    date: '',
                    time: '',
                    speaker: '',
                    site: '',
                    // catering fields
                    cateringType: '',
                    cateringCount: 0,
                    beverageType: '',
                    dietaryRequirements: '',
                    cateringServingTime: '',
                    // Initialize table data
                    tableData: [{
                        type: '',
                        staff: '',
                        company: '',
                        contact: '',
                        email: '',
                        location: '',
                        note: ' '
                    }],
                },
                room: [{
                    value: '',
                    label: ''
                }],
                type: [{
                    value: 'option 1',
                    label: 'Networking'
                }, {
                    value: 'option 2',
                    label: 'Panels'
                }, {
                    value: '3',
                    label: 'Speakers'
                }, {
                    value: 'option 4',
                    label: 'Q&A’s'
                }, {
                    value: 'option 5',
                    label: 'Presentations'
                },
                {
                    value: 'option 6',
                    label: 'Social Gatherings'
                }, {
                    value: 'option 7',
                    label: 'Markets'
                },{
                    value: 'option 8',
                    label: 'Miscellaneous'
                },{
                    value: 'option 9',
                    label: 'Festival'
                },{
                    value: 'option 10',
                    label: 'Conference '
                }
                ],
            };
        },
        created(){
            this.fecthRooms();
        },
        methods: {
            fecthRooms() {
                axios.get('/booking/getRoom')
                    .then(response => {
                        if (!response.data || !Array.isArray(response.data)) {
                            console.error('No data or data is not an array');
                            return;
                        }
                        this.room = response.data.map((fullAddress, index) => {
                            console.log(fullAddress);
                            if (!fullAddress) {
                                console.error('Invalid full address encountered', fullAddress);
                                return { value: `${index}`, label: 'Invalid address' };
                            }
                            return {
                                value: `${index}`,
                                label: fullAddress
                            };
                        });
                    })
                    .catch(error => {
                        console.error('Failed to fetch rooms:', error);
                    });
            },
            /*Converts the obtained date data into the desired date YYYY-MM-DD*/
            getFormattedDate(date) {
                const year = date.getFullYear();
                const month = date.getMonth() + 1;
                const day = date.getDate();
                return `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;
            },
            handleButtonClick() {
                if (!this.formData.title || !this.formData.date || !this.formData.startTime || !this.formData.endTime || !this.formData.site || !this.formData.room) {
                    // Alert user all fields are required
                    alert('Please fill in all required fields: Event Name, Date, Time, Location, and Room.');
                    return;  // Stop the function if validation fails
                }
                this.getFormData();
            },
            getFormData() {
                const formattedDate = this.getFormattedDate(this.formData.date);
                const eventData = {
                    title: this.formData.title,
                    date: formattedDate,
                    time: this.formData.startTime + '-' + this.formData.endTime,
                    room: this.formData.room,
                    type: this.formData.type,
                    speaker: this.formData.speaker,
                    site: this.formData.site,
                    staff: this.formData.tableData[0].staff,
                    tag: this.formData.tableData[0].tag,
                    company: this.formData.tableData[0].company,
                    contact: this.formData.tableData[0].contact,
                    email: this.formData.tableData[0].email,
                    responsible: this.formData.tableData[0].responsible,
                    note: this.formData.tableData[0].note,
                    // Catering fields
                    cateringType: this.formData.cateringType,
                    cateringCount: this.formData.cateringCount,
                    beverageType: this.formData.beverageType,
                    dietaryRequirements: this.formData.dietaryRequirements,
                    cateringServingTime: this.formData.cateringServingTime
                    // Include table data
                };
                console.log(eventData);
                axios.post('/api/events/create', eventData).then(response => {
                    console.log(response.data.data);
                    if (response.data.data > 0) {
                        console.log('Event created successfully', response);
                        localStorage.setItem("eventId", response.data.data);
                        window.location.href = '/view-event.html';
                    } else {
                        alert('Event not created');
                    }
                })
                .catch(error => {
                    console.log('Error creating event', error);
                });
            }
        }
    });
</script>
</html>