<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management</title>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/element-index.js"></script>
    <link rel="stylesheet" href="./css/element-index.css">
</head>
<body>
<div id="app">
  <el-table
          :data="tableData"
          height="500"
          border
          ref="multipleTable"
          style="width: 100%;"
          @selection-change="handleSelectionChange">
    <el-table-column
            type="selection"
            width="55">
    </el-table-column>
    <el-table-column
            prop="id"
            label="Event ID"
            width="80">
    </el-table-column>
    <el-table-column
            prop="title"
            label="Event Name"
            width="180">
    </el-table-column>
    <el-table-column
            prop="date"
            label="Date"
            width="100">
    </el-table-column>
    <el-table-column
            prop="time"
            label="Time"
            width="100">
    </el-table-column>
    <el-table-column
            prop="locationName"
            label="Location"
            width="300">
    </el-table-column>
    <el-table-column
            prop="fullRoomName"
            label="Room"
            width="400">
    </el-table-column>
    <el-table-column
            prop="type"
            label="Type">
    </el-table-column>
    <el-table-column
            prop="speaker"
            label="Speaker">
    </el-table-column>
    <el-table-column
            prop="tag"
            label="Tag"
            width="100">
    </el-table-column>
    <el-table-column
            prop="responsible"
            label="Responsible"
            width="110">
    </el-table-column>
    <el-table-column
            prop="staff"
            label="Support Staff"
            width="120">
    </el-table-column>
    <el-table-column
            prop="company"
            label="Company"
            width="100">
    </el-table-column>
    <el-table-column
            prop="contact"
            label="Contact">
    </el-table-column>
    <el-table-column
            prop="email"
            label="Email"
            width="180">
    </el-table-column>
    <el-table-column
            prop="note"
            label="AV Notes"
            width="100">
    </el-table-column>
    <el-table-column fixed="right" label="Operation" width="180">
      <template slot-scope="scope">
        <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)">edit</el-button>
        <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)">delete</el-button>
      </template>
    </el-table-column>
  </el-table>

  <el-dialog :visible.sync="editDialogVisible" title="Edit Event">
    <el-form :model="editForm">
      <el-form-item label="Event Name">
        <el-input v-model="editForm.title"></el-input>
      </el-form-item>
      <el-form-item label="Date">
        <el-input v-model="editForm.date"></el-input>
      </el-form-item>
      <el-form-item label="Time">
        <el-input v-model="editForm.time"></el-input>
      </el-form-item>
      <el-form-item label="Location">
        <el-select v-model="editForm.locationId" @change="fetchRoomsForLocationEdit" clearable placeholder="please select">
          <el-option
                  v-for="location in locations"
                  :key="location.id"
                  :label="location.location"
                  :value="location.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="room">
        <el-select v-model="editForm.roomId" clearable placeholder="please select">
          <el-option
                  v-for="room in rooms"
                  :key="room.value"
                  :label="room.label"
                  :value="room.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="type">
        <el-input v-model="editForm.type"></el-input>
      </el-form-item>
      <el-form-item label="speaker">
        <el-input v-model="editForm.speaker"></el-input>
      </el-form-item>
      <el-form-item label="tag">
        <el-input v-model="editForm.tag"></el-input>
      </el-form-item>
      <el-form-item label="responsible">
        <el-input v-model="editForm.responsible"></el-input>
      </el-form-item>
      <el-form-item label="staff">
        <el-input v-model="editForm.staff"></el-input>
      </el-form-item>
      <el-form-item label="company">
        <el-input v-model="editForm.company"></el-input>
      </el-form-item>
      <el-form-item label="contact">
        <el-input v-model="editForm.contact"></el-input>
      </el-form-item>
      <el-form-item label="email">
        <el-input v-model="editForm.email"></el-input>
      </el-form-item>
      <el-form-item label="note">
        <el-input v-model="editForm.note"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editDialogVisible = false">Cancel</el-button>
      <el-button type="primary" @click="saveEdit">Save</el-button>
    </div>
  </el-dialog>

  <div style="margin-top: 20px">
    <el-button class="custom-clear-button" @click="clearSelection()">Clear selection</el-button>
    <el-button class="custom-delete-button" type="danger" @click="deleteSelectedRows">Delete Selected</el-button>
  </div>
</div>
</body>

<script>
  new Vue({
    el: '#app',
    data() {
      return {
        tableData: [],
        multipleSelection: [],
        editDialogVisible: false,
        editForm: {
          title: '',
          date: '',
          time: '',
          locationId: '',
          roomId: '',
          type: '',
          speaker: '',
          tag: '',
          responsible: '',
          staff: '',
          company: '',
          concat: '',
          email: '',
          note: ''
        },
        locations: [],
        rooms: []
      }
    },
    created() {
      this.fetchTableData();
      this.fetchLocations();
    },
    methods: {
      fetchTableData() {
        axios.get('/api/events')
                .then(response => {
                  if (response.data && response.data.status === 'SUCCESS') {
                    this.tableData = response.data.data.map(event => {
                      return {
                        ...event,
                        fullRoomName: event.roomName
                      };
                    });
                  } else {
                    console.error('Failed to load events:', response.data.message);
                  }
                })
                .catch(error => {
                  console.error('Error fetching events:', error);
                });
      },
      fetchLocations() {
        axios.get('/api/locations')
                .then(res => {
                  this.locations = res.data;
                })
                .catch(error => {
                  console.error("There was an error fetching locations!", error);
                });
      },
      fetchRoomsForLocationEdit(locationId) {
        axios.get(`/api/events/rooms/${locationId}`)
                .then(response => {
                  if (!response.data || !Array.isArray(response.data)) {
                    console.error('No data or data is not an array');
                    return;
                  }
                  this.rooms = response.data.map(room => ({
                    value: room.id,
                    label: `${room.roomName} - ${room.locationName} - ${room.postcode}`
                  }));
                })
                .catch(error => {
                  console.error('Failed to fetch corresponding rooms:', error);
                });
      },
      handleEdit(index, row) {
        this.editForm = {
          ...row,
          locationId: row.location || '',
          roomId: row.room || '',
          fullRoomName: row.roomName
        };
        this.fetchRoomsForLocationEdit(this.editForm.locationId);
        this.editDialogVisible = true;
        console.log(index, row);
      },
      saveEdit() {
        axios.put(`/api/events/${this.editForm.id}`, {
          ...this.editForm,
          location:  this.editForm.locationId,
          room: this.editForm.roomId
        })
                .then(response => {
                  if (response.data.status === 'SUCCESS') {
                    const index = this.tableData.findIndex(item => item.id === this.editForm.id);
                    if (index !== -1) {
                      this.$set(this.tableData, index, {
                        ...this.editForm,
                        locationName: this.locations.find(loc => loc.id === this.editForm.locationId).location,
                        fullRoomName: this.rooms.find(room => room.value === this.editForm.roomId).label
                      });
                    }
                    this.editDialogVisible = false;
                    this.$message({
                      type: 'success',
                      message: 'Event updated successfully'
                    });
                  } else {
                    this.$message({
                      type: 'error',
                      message: 'Failed to update event: ' + response.data.message
                    });
                  }
                })
                .catch(error => {
                  console.error('Error updating event:', error);
                  this.$message({
                    type: 'error',
                    message: 'An error occurred while updating the event'
                  });
                });
      },
      handleDelete(index, row) {
        this.$confirm('Are you sure you want to delete this event?', 'Warning', {
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          type: 'warning'
        }).then(() => {
          axios.post(`/api/events/delete/${row.id}`).then(response => {
            if (response.data.status === 'SUCCESS') {
              this.tableData.splice(index, 1);
              this.$message({
                type: 'success',
                message: 'Delete completed'
              });
            } else {
              this.$message({
                type: 'error',
                message: 'Delete failed'
              });
            }
          }).catch(error => {
            console.error(error);
            this.$message({
              type: 'error',
              message: 'An error occurred'
            });
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });
        });
      },
      clearSelection(rows) {
          this.$refs.multipleTable.clearSelection();
      },
      deleteSelectedRows() {
          const selectedRows = this.multipleSelection;

          // Create an array of promises to delete each selected row
          const deletePromises = selectedRows.map(row => {
              return axios.post(`/api/events/delete/${row.id}`);
          });

          // Execute all delete requests
          Promise.all(deletePromises)
              .then(responses => {
                  const failedDeletions = responses.filter(response => response.data.status !== 'SUCCESS');
                  if (failedDeletions.length > 0) {
                      this.$message({
                          type: 'error',
                          message: 'Some deletions failed'
                      });
                  } else {
                      // Filter out deleted rows from the tableData
                      this.tableData = this.tableData.filter(row => !selectedRows.includes(row));
                      this.$refs.multipleTable.clearSelection();
                      this.$message({
                          type: 'success',
                          message: 'Selected events deleted successfully'
                      });
                  }
              })
              .catch(error => {
                  console.error('Error during deletion:', error);
                  this.$message({
                      type: 'error',
                      message: 'An error occurred while deleting selected events'
                  });
              });
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
        console.log('Selected rows:', this.multipleSelection);
      }
    },
  });

</script>

<style>

</style>
</html>