<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tramshedtech.eventmanagement.mapper.BookingMapper">

    <update id="softDeleteBooking">
        UPDATE bookings
        SET del = 1
        WHERE id = #{id}
    </update>

    <select id="getBookingById" resultMap="bookingMapById">
        SELECT * FROM bookings WHERE id = #{id}
    </select>

    <resultMap id="bookingMapById" type="com.tramshedtech.eventmanagement.entity.Bookings">
        <id column="id" property="id" />
        <result column="room_number" property="roomNumber" />
        <result column="room_name" property="roomName" />
        <result column="postcode" property="postcode" />
        <result column="location" property="location" />
        <result column="start_date" property="startDate" />
        <result column="start_time" property="startTime" />
        <result column="end_date" property="endDate" />
        <result column="end_time" property="endTime" />
        <result column="img" property="img" />
        <result column="message" property="message" />
        <result column="av" property="av" />
        <result column="payment" property="payment" />
        <result column="del" property="del" />
    </resultMap>

    <update id="updateBooking">
        UPDATE bookings
        SET room_number = #{roomNumber},
            room_name = #{roomName},
            postcode = #{postcode},
            location = #{location},
            start_date = #{startDate},
            start_time = #{startTime},
            end_date = #{endDate},
            end_time = #{endTime},
            message = #{message},
            img = #{img},
            av = #{av},
            payment = #{payment},
            del = #{del,jdbcType=INTEGER}
        WHERE id = #{id}
    </update>

    <insert id="addBooking" >
        INSERT INTO bookings(room_number, room_name, postcode, location, message, payment, av, start_date, start_time, end_date, end_time, img, del)
        VALUES (#{roomNumber}, #{roomName}, #{postcode}, #{location}, #{message}, #{payment}, #{av}, #{startDate}, #{startTime}, #{endDate}, #{endTime}, #{img}, #{del})
    </insert>

    <!-- Select room name in DB -->
    <select id="getAllRoomName" resultType="string">
        SELECT DISTINCT CONCAT(room_name, ' ', location, ' ', postcode) AS fullAddress From bookings;
    </select>


    <select id="searchAll"  resultMap="bookingsMap">
        SELECT * FROM bookings WHERE del = 0
    </select>

    <resultMap id="bookingsMap" type="com.tramshedtech.eventmanagement.entity.Bookings">
        <id column="id" property="id" />
        <result column="room_number" property="roomNumber" />
        <result column="room_name" property="roomName" />
        <result column="postcode" property="postcode" />
        <result column="location" property="location" />
        <result column="start_date" property="startDate" />
        <result column="start_time" property="startTime" />
        <result column="end_date" property="endDate" />
        <result column="end_time" property="endTime" />
        <result column="img" property="img" />
        <result column="message" property="message" />
        <result column="av" property="av" />
        <result column="payment" property="payment" />
        <!--        <result column="status" property="status" />-->
        <result column="del" property="del" />
    </resultMap>


</mapper>
