<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tramshedtech.eventmanagement.mapper.BookingMapper">

    <update id="softDeleteBooking">
        UPDATE bookings
        SET del = 1
        WHERE id = #{id}
    </update>

    <select id="getBookingById" resultType="com.tramshedtech.eventmanagement.entity.Bookings">
        SELECT * FROM bookings WHERE id = #{id}
    </select>

    <update id="updateBooking">
        UPDATE bookings
        SET first_name = #{firstName},
            last_name = #{lastName},
            email = #{email},
            location = #{location},
            start_date = #{startDate},
            start_time = #{startTime},
            end_date = #{endDate},
            end_time = #{endTime},
            postcode = #{postcode,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            message = #{message},
            av = #{av},
            payment = #{payment},
            del = #{del,jdbcType=INTEGER}
        WHERE id = #{id}
    </update>

    <insert id="addBooking">
        INSERT INTO bookings(first_name,last_name,email,location,message,payment,av,start_date,start_time,end_date,end_time,postcode,status,del) VALUES (#{firstName}, #{lastName},#{email},#{location},#{message},#{payment},#{av},#{startDate},#{startTime},#{endDate},#{endTime},#{postcode,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{del,jdbcType=INTEGER})
    </insert>

    <select id="searchAll"  resultMap="bookingsMap">
        SELECT * FROM bookings WHERE del = 0
    </select>

    <resultMap id="bookingsMap" type="com.tramshedtech.eventmanagement.entity.Bookings">
        <id column="id" property="id" />
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="email" property="email" />
        <result column="location" property="location" />
        <result column="start_date" property="startDate" />
        <result column="start_time" property="startTime" />
        <result column="end_date" property="endDate" />
        <result column="end_time" property="endTime" />
        <result column="postcode" property="postcode" />
        <result column="status" property="status" />
        <result column="message" property="message" />
        <result column="av" property="av" />
        <result column="payment" property="payment" />
        <result column="del" property="del" />
    </resultMap>

</mapper>
