<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tramshedtech.eventmanagement.mapper.EventMapper">

    <!-- Select all events -->
    <select id="getAllEvents" resultType="com.tramshedtech.eventmanagement.entity.Event">
        SELECT * FROM events
    </select>

    <!-- Select event by ID -->
    <select id="getEventById" parameterType="long" resultType="com.tramshedtech.eventmanagement.entity.Event">
        SELECT * FROM events WHERE id = #{id}
    </select>

    <!--Insert data into DB -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO events(title,date,time,site,room,speaker,responsible,type,staff,company,contact,email,note,tag)
            VALUES (#{title},#{date},#{time},#{site},#{room},#{speaker},#{responsible},#{type},#{staff},#{company},#{contact},#{email},#{note},#{tag})
    </insert>

    <!-- Select room name in DB -->
    <select id="getRoomById" resultType="string">
        SELECT CONCAT(b.room_name, ' ', b.location, ' ', b.postcode) AS fullAddress From events e
        JOIN bookings b ON e.room = b.id
        WHERE e.id = #{eventId}
    </select>
</mapper>
